<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title><%= todo ? 'Edit Tugas' : 'Tambah Tugas' %></title>
</head>
<body>
  <div class="container mt-5">
    <h1><%= todo ? 'Edit Tugas' : 'Tambah Tugas' %></h1>

    <form action="<%= todo ? '/todos/edit/' + todo.id : '/todos/tambah' %>" method="POST">
      <div class="form-group">
        <label for="task">Nama Tugas</label>
        <input 
          type="text" 
          id="task" 
          name="task" 
          class="form-control" 
          placeholder="Masukkan tugas"
          value="<%= todo ? todo.task : '' %>"
          required
        >
      </div>

      <% if (todo) { %>
        <button type="submit" class="btn btn-primary">Update</button>
      <% } else { %>
        <button type="submit" class="btn btn-success">Simpan</button>
      <% } %>

      <a href="/todos" class="btn btn-secondary">Batal</a>
    </form>
  </div>
</body>
</html>